.titleOne{
    font-weight: bold;
    font-size: 1.125rem;
}

.titleTwo{
    font-weight: bold;
    font-size: 1rem;
}

.headline{
    font-weight: 400;
    font-size: 0.75rem;
}

.headlineBold{
    font-weight: 400;
    font-size: 0.75rem;
}

.paragraph{
    font-weight: 400;
    font-size: 1rem;
}